<a href="https://colab.research.google.com/github/jayU000/Python_Baekjoon/blob/main/Baekjoon_step8_BasicMath2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
########################
# 1978

n = int(input())
num = list(map(int, input().split(" ")))
cnt = 0

for i in range(n) :
  if 1 < num[i] < 4 :
    cnt += 1
  else :
    for o in range(2, num[i]):
      if num[i] % o == 0 :
        break
      elif o == num[i]-1 :
        cnt += 1

print(cnt)

3
2 4 7
2

In [ ]:
###############
# 2581

m = int(input())
n = int(input())
sosu = []

for num in range(m, n+1) :
  if 1 < num < 4 :
    sosu.append(num)
  else :
    for o in range(2, num):
      if num % o == 0 :
        break
      elif o == num-1 :
        sosu.append(num)
if len(sosu) != 0 :
  print(sum(sosu))
  print(sosu[0])
else :
  print(-1)

64
65
-1

In [ ]:
n = int(input())
while 1 :
  if n == 1 :
    # print("")
    break
  # elif 1 < n < 3 :
  #   print(n)
  else :
    for i in range(2, n + 1) :
      if n % i == 0 :
        n = n // i
        print(i)
        break
    continue

72
2
2
2
3
3

In [ ]:
###############
# 1929

m, n = map(int, input().split(" "))
if m == 1 :
  m = 2

for num in range(m, n+1) :
  if 2 <= num <= 3 :
    print(num)
  else :
    for o in range(2, int(num ** 0.5)+1): # ** : 제곱 (계산기의 ^ 에 해당)
      if num % o == 0:
        break
    else :
        print(num)

1 2
2

In [ ]:
#########################
# 4948
from math import sqrt

while 1 : 
  n = int(input()) 
  cnt = 0 

  if n == 0 : 
    break 

  for num in range(n + 1, 2 * n + 1) : 
    if num == 2 :
      cnt += 1
      continue
    for o in range(2, int(sqrt(num) + 1)) : 
      if num % o == 0 : 
        break
    else: 
      cnt += 1
  print(cnt)

In [ ]:
while 1 : 
  n = int(input()) 

  if n == 0 : 
    break 
  elif 1 <= n <= 3:
    print(1)
    continue

  cnt = 0

  for i in range(n+1, 2*n) : 
    if i == 2 :
      cnt += 1
      continue
    for j in range(2, int(i**0.5)+1) : 
      if i % j == 0 :  
        cnt += 1
        break
  print(n-cnt)

In [ ]:
sosu = [2]
for i in range(3, 246912):
  for j in range(2, int(i**0.5)+1): 
    if i % j == 0:  
      break
  else:
    sosu.append(i)

while 1:
  n = int(input()) 
  cnt = 0
  if n == 0: 
    break

  for s in sosu:
    if n < s <= 2*n:
      cnt += 1
  print(cnt)

1
1
100000
8392
0

In [3]:
###################
# 9020

t = int(input())
def sosu(numb) :
  for m in range(2, numb) :
    if numb % m == 0 :
      return 0
      break
  else :
    return 1

for i in range(t):
  num = int(input())
  x = y = num // 2
  while 1 :
    if sosu(x) == 1 and sosu(y) == 1:
      break
    else :
      x += 1
      y -= 1

  print(y, x)

5
1000
491 509
200
97 103
900
443 457
800
379 421
600
293 307